In [2]:
import pandas as pd
pd.__version__

'1.5.3'

Important data structures
- series
- DataFrames

Series
- It is one-dimentional labeled arrays

In [4]:
# creation of Series from the pyhton list
books_list = ['python','java','datascience']
s= pd.Series(books_list) # series is class
print(s)
# bydefault index (labels) are zero

0         python
1           java
2    datascience
dtype: object

In [6]:
# eg-2:
import pandas as pd
marks_list = [70,80,90]
s = pd.Series(marks_list)
print(s)

0    70
1    80
2    90
dtype: int64

In [7]:
import pandas as pd
salaries_list = [1000.5,2000.6,3000.7]
s = pd.Series(salaries_list)
print(s)

0    1000.5
1    2000.6
2    3000.7
dtype: float64

In [8]:
import pandas as pd
hetero_list = [10,'durga',10.5,True]
s = pd.Series(hetero_list)
print(s)

0       10
1    durga
2     10.5
3     True
dtype: object

***Note:*** The values in Series can be any type even heterogeneous also.

In [5]:
# Creation of series from python dict
books_dict = {0:"python",1:"java",2:"mava"}
d = pd.Series(books_dict)
print(d)

0    python
1      java
2      mava
dtype: object

In [9]:
# eg-2:
import pandas as pd
books_dict = {'Book-1':'Python','Book-2':'Java','Book-3':'DataScience'}
s = pd.Series(books_dict)
print(s)

Book-1         Python
Book-2           Java
Book-3    DataScience
dtype: object

In [12]:
import pandas as pd
books_dict = {'Book-1':'Python',10:20,10.5:20.6,'Book-3':'DataScience',10.5:20.3}
s = pd.Series(books_dict)
print(s)

Book-1         Python
10                 20
10.5             20.3
Book-3    DataScience
dtype: object

***Note:***
1. Index labels and values need not be homogeneneous.
2. Index labels need not be unique.

# Series class
class Series(base.IndexOpsMixin, generic.NDFrame):
"""
One-dimensional ndarray with axis labels (including time series).
Parameters
----------
data : array-like, Iterable, dict, or scalar value

In [14]:
# Constructing Series from a dictionary with an
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [16]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z'])
ser

x   NaN
y   NaN
z   NaN
dtype: float64

**Note**
that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence
we get all NaN as a result.

In [18]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['b', 'a', 'c'])
ser

b    2
a    1
c    3
dtype: int64

In [19]:
# Constructing Series from a list with `copy=False`.
r = [1, 2]
ser = pd.Series(r, copy=False)
ser.iloc[0] = 999
r
# Due to input data type the Series has a `copy` of
# 11the original data even though `copy=False`, so
# the data is unchanged.

[1, 2]

The 5 Parameters of Series Constructor:
----------------------------------------
1. data parameter
2. index parameter
3. dtype parameter
4. name parameter
5. copy parameter

In [21]:
# 1. data parameter:
books_dict = {'Book-1':'Python',10:20,10.5:20.6,'Book-3':'DataScience'}
s = pd.Series(data=books_dict)
print(s)

Book-1         Python
10                 20
10.5             20.6
Book-3    DataScience
dtype: object

In [23]:
# Note:
# The following are valid.
import numpy as np
pd.Series(data=[10,20,30])
pd.Series(data={0:'A',1:'B',2:'C'})
pd.Series(data={'A':'Apple','B':'Ball','C':'Cat'})
pd.Series(data=np.array([10,20,30]))
pd.Series(data=10)
pd.Series(data='durga')

0    durga
dtype: object

In [25]:
s1 = pd.Series(data=np.array([10,20,30]))
print(s1)

0    10
1    20
2    30
dtype: int64
0    10
dtype: int64

In [26]:
s2 = pd.Series(data=10)
print(s2)

0    10
dtype: int64

In [27]:
s3 = pd.Series(data='Durga')
print(s3)

0    Durga
dtype: object

# 2. index parameter:
The values need not be unique. If we are not using index, then pandas
will generate default index labels which are integers starts from 0.
The number of index values should be same as the number of values
of data parameter.

In [28]:
name_list = ['Sunny','Bunny','Chinny']
s = pd.Series(data=name_list,index=['S','B','C'])
print(s)

S     Sunny
B     Bunny
C    Chinny
dtype: object

Note:
1. The number of data values and index values should be matched,
otherwise error.

In [30]:
name_list = ['Sunny','Bunny','Chinny']
s = pd.Series(data=name_list,index=['S','B'])
print(s)
# ValueError: Length of values (3) does not match length of index (2)

ValueError: Length of values (3) does not match length of index (2)

In [31]:
# 2. Duplicate index labels possible
name_list = ['Sunny','Bunny','Chinny','Binny']
s = pd.Series(data=name_list,index=['S','B','C','B'])
print(s)

S     Sunny
B     Bunny
C    Chinny
B     Binny
dtype: object

In [32]:
# 3. If data is dict, then matched indexes only will be considered from
# the dict.
name_dict = {'S':'Sunny','B':'Bunny','C':'Chinny','N':'Nikhil'}
s = pd.Series(data=name_dict,index=['S','B'])
print(s)

S    Sunny
B    Bunny
dtype: object

In [33]:
name_dict = {'S':'Sunny','B':'Bunny','C':'Chinny','N':'Nikhil'}
s = pd.Series(data=name_dict,index=['S','B','A','B'])
print(s)

S    Sunny
B    Bunny
A      NaN
B    Bunny
dtype: object

In [34]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z'])
ser #Note that the Index is first build with the keys from the dictionary.

x   NaN
y   NaN
z   NaN
dtype: float64