It allows fast analysis, data cleaning and preparation

In [2]:
import pandas as pd
pd.__version__

'2.0.3'

Important data structures
- series
- DataFrames

Series
- It is one-dimentional labeled arrays

In [4]:
# creation of Series from the pyhton list
books_list = ['python','java','datascience']
s= pd.Series(books_list) # series is class
print(s)
# bydefault index (labels) are zero

0         python
1           java
2    datascience
dtype: object

In [6]:
# eg-2:
import pandas as pd
marks_list = [70,80,90]
s = pd.Series(marks_list)
print(s)

0    70
1    80
2    90
dtype: int64

In [7]:
import pandas as pd
salaries_list = [1000.5,2000.6,3000.7]
s = pd.Series(salaries_list)
print(s)

0    1000.5
1    2000.6
2    3000.7
dtype: float64

In [8]:
import pandas as pd
hetero_list = [10,'durga',10.5,True]
s = pd.Series(hetero_list)
print(s)

0       10
1    durga
2     10.5
3     True
dtype: object

***Note:*** The values in Series can be any type even heterogeneous also.

In [5]:
# Creation of series from python dict
books_dict = {0:"python",1:"java",2:"mava"}
d = pd.Series(books_dict)
print(d)

0    python
1      java
2      mava
dtype: object

In [9]:
# eg-2:
import pandas as pd
books_dict = {'Book-1':'Python','Book-2':'Java','Book-3':'DataScience'}
s = pd.Series(books_dict)
print(s)

Book-1         Python
Book-2           Java
Book-3    DataScience
dtype: object

In [12]:
import pandas as pd
books_dict = {'Book-1':'Python',10:20,10.5:20.6,'Book-3':'DataScience',10.5:20.3}
s = pd.Series(books_dict)
print(s)

Book-1         Python
10                 20
10.5             20.3
Book-3    DataScience
dtype: object

***Note:***
1. Index labels and values need not be homogeneneous.
2. Index labels need not be unique.

# Series class
class Series(base.IndexOpsMixin, generic.NDFrame):
"""
One-dimensional ndarray with axis labels (including time series).
Parameters
----------
data : array-like, Iterable, dict, or scalar value

In [14]:
# Constructing Series from a dictionary with an
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [3]:
# Constructing Series from a dictionary with an
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'c'])
ser

a    1
c    3
dtype: int64

In [16]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z'])
ser

x   NaN
y   NaN
z   NaN
dtype: float64

**Note**
that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence
we get all NaN as a result.

In [18]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['b', 'a', 'c'])
ser

b    2
a    1
c    3
dtype: int64

In [19]:
# Constructing Series from a list with `copy=False`.
r = [1, 2]
ser = pd.Series(r, copy=False)
ser.iloc[0] = 999
r
# Due to input data type the Series has a `copy` of
# 11the original data even though `copy=False`, so
# the data is unchanged.

[1, 2]

The 5 Parameters of Series Constructor:
----------------------------------------
1. data parameter
2. index parameter
3. dtype parameter
4. name parameter
5. copy parameter

In [21]:
# 1. data parameter:
books_dict = {'Book-1':'Python',10:20,10.5:20.6,'Book-3':'DataScience'}
s = pd.Series(data=books_dict)
print(s)

Book-1         Python
10                 20
10.5             20.6
Book-3    DataScience
dtype: object

In [23]:
# Note:
# The following are valid.
import numpy as np
pd.Series(data=[10,20,30])
pd.Series(data={0:'A',1:'B',2:'C'})
pd.Series(data={'A':'Apple','B':'Ball','C':'Cat'})
pd.Series(data=np.array([10,20,30]))
pd.Series(data=10)
pd.Series(data='durga')

0    durga
dtype: object

In [25]:
s1 = pd.Series(data=np.array([10,20,30]))
print(s1)

0    10
1    20
2    30
dtype: int64
0    10
dtype: int64

In [26]:
s2 = pd.Series(data=10)
print(s2)

0    10
dtype: int64

In [27]:
s3 = pd.Series(data='Durga')
print(s3)

0    Durga
dtype: object

# 2. index parameter:
The values need not be unique. If we are not using index, then pandas
will generate default index labels which are integers starts from 0.
The number of index values should be same as the number of values
of data parameter.

In [28]:
name_list = ['Sunny','Bunny','Chinny']
s = pd.Series(data=name_list,index=['S','B','C'])
print(s)

S     Sunny
B     Bunny
C    Chinny
dtype: object

Note:
1. The number of data values and index values should be matched,
otherwise error.

In [30]:
name_list = ['Sunny','Bunny','Chinny']
s = pd.Series(data=name_list,index=['S','B'])
print(s)
# ValueError: Length of values (3) does not match length of index (2)

ValueError: Length of values (3) does not match length of index (2)

In [31]:
# 2. Duplicate index labels possible
name_list = ['Sunny','Bunny','Chinny','Binny']
s = pd.Series(data=name_list,index=['S','B','C','B'])
print(s)

S     Sunny
B     Bunny
C    Chinny
B     Binny
dtype: object

In [32]:
# 3. If data is dict, then matched indexes only will be considered from
# the dict.
name_dict = {'S':'Sunny','B':'Bunny','C':'Chinny','N':'Nikhil'}
s = pd.Series(data=name_dict,index=['S','B'])
print(s)

S    Sunny
B    Bunny
dtype: object

In [33]:
name_dict = {'S':'Sunny','B':'Bunny','C':'Chinny','N':'Nikhil'}
s = pd.Series(data=name_dict,index=['S','B','A','B'])
print(s)

S    Sunny
B    Bunny
A      NaN
B    Bunny
dtype: object

In [34]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z'])
ser #Note that the Index is first build with the keys from the dictionary.

x   NaN
y   NaN
z   NaN
dtype: float64

RangeIndex:
-----------
If we are not providing index parameter, then pandas will consider
default index values from RangeIndex (0, 1, 2, ..., n) object internally.

In [1]:
import pandas as pd
name_list = ['Sunny','Bunny','Chinny','Binny']
s = pd.Series(data=name_list)
print(s.index) #RangeIndex(start=0, stop=4, step=1)

RangeIndex(start=0, stop=4, step=1)

In [2]:
name_list = ['Sunny','Bunny','Chinny','Binny']
s = pd.Series(data=name_list)
s.index = pd.RangeIndex(start=10,stop=14,step=1)
print(s.index)
print(s)

RangeIndex(start=10, stop=14, step=1)
10     Sunny
11     Bunny
12    Chinny
13     Binny
dtype: object

In [3]:
name_list = ['Sunny','Bunny','Chinny','Binny']
s = pd.Series(data=name_list)
s.index = pd.RangeIndex(start=10,stop=17,step=2)
print(s.index)
print(s)

RangeIndex(start=10, stop=17, step=2)
10     Sunny
12     Bunny
14    Chinny
16     Binny
dtype: object

3. dtype parameter:
-------------------
We can use dtype parameter to specify data type for the output
Series.

In [4]:
num_list = [10,20,30,40]
s = pd.Series(data=num_list,dtype='float')
print(s)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [5]:
num_list = [10,20,30,40,0]
s = pd.Series(data=num_list,dtype='bool')
print(s)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [6]:
num_list = [10,20,30,40,0]
s = pd.Series(data=num_list,dtype='str')
print(s)

0    10
1    20
2    30
3    40
4     0
dtype: object

4. name parameter:
------------------
We can assign name also to the Series. For this we have to use name
parameter. The default name is None.

In [7]:
import pandas as pd

num_list = [10,20,30,40,0]
s = pd.Series(data=num_list)

print(s.name) #None

None

In [8]:
import pandas as pd

num_list = [10,20,30,40,0]
s = pd.Series(data=num_list,name='My Favourite Numbers')

#print(s.name) #My Favourite Numbers
print(s)

0    10
1    20
2    30
3    40
4     0
Name: My Favourite Numbers, dtype: int64

In [10]:
s.name = "ugly number"
s.name

'ugly number'

In [13]:
import pandas as pd
num_list = [10,20,30,40,0]
s = pd.Series(data=num_list)
s.name='My Favourite Numbers'
print(s)

0    10
1    20
2    30
3    40
4     0
Name: My Favourite Numbers, dtype: int64

Setting Name to the indexes:
----------------------------
We can also set name to the indexes.
s.index.name = 'Default Indexes

In [14]:
import pandas as pd

num_list = [10,20,30,40,0]

s = pd.Series(data=num_list)

s.name='My Favourite Numbers'
s.index.name = 'Default Indexes'

print(s)

Default Indexes
0    10
1    20
2    30
3    40
4     0
Name: My Favourite Numbers, dtype: int64

### 5. copy parameter:
-------------------
This parameter decides whether it is required to create View or Copy.
The default value is False, ie new object won't be created.
It is applicable only for ndarray input.

In [15]:
# Even we changed Series content, that change not reflected to the list input.

import pandas as pd
import numpy as np

num_list = [10,20]

s = pd.Series(data=num_list,copy=False)
s.iloc[0]=999

print(s)
print(num_list)

0    999
1     20
dtype: int64
[10, 20]

In [18]:
# The changes of Series object reflected automatically inside ndarray input.
# eg-2: For ndarray input
import pandas as pd
import numpy as np

arr = np.array([10,20])
s = pd.Series(data=arr,copy=False)
s.iloc[0]=999

print(s)
print(arr)

0    999
1     20
dtype: int32
[999  20]

In [19]:
import pandas as pd
import numpy as np

arr = np.array([10,20,30,40])

s = pd.Series(data=arr,copy=True)

s[0]=9999
print(s)
print(arr)
# Even input is ndarray, separate copy got created because copy=True.

0    9999
1      20
2      30
3      40
dtype: int32
[10 20 30 40]

Exercise:
---------
1. Create a python list named with student_list with 5 student names?
2. Create another Python list named with marks_list with
corresponding student marks?
3. Create a Series object that stores student marks as values and
student names as index labels. Assign name 'students' for this series?
4. Create a python dictionary with student_list and marks_list and
Create a Series object with that dictionary?

In [20]:
# solution:
# --------
import pandas as pd
student_list = ['Sunny', 'Bunny','Vinny','Binny','Pinny']
marks_list = [40,50,60,70,80]
ser = pd.Series(data=marks_list , index=student_list, name='students')
print(ser)

Sunny    40
Bunny    50
Vinny    60
Binny    70
Pinny    80
Name: students, dtype: int64

In [22]:
import pandas as pd
student_list = ['Sunny', 'Bunny','Vinny','Binny','Pinny']
marks_list = [40,50,60,70,80]
#students_dict = dict(zip(student_list,marks_list))
students_dict = {name:marks for name,marks in zip(student_list,marks_list)}
ser = pd.Series(data=students_dict,name='students')
print(ser)

Sunny    40
Bunny    50
Vinny    60
Binny    70
Pinny    80
Name: students, dtype: int64

Accessing values from Series by using head() and tail() methods:
------------------------------------------------------------------------------
head():
-------
Series.head(n=5)
Return the first n rows. The default value for n is 5
This function returns the first n rows for the object based on position.
It is useful for quickly testing if your object has the right type of data
in it.

In [23]:
import pandas as pd

s = pd.Series([i for i in range(50)])
print(s.head()) # Returns first 5 values

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [24]:
import pandas as pd

s = pd.Series([i for i in range(50)])
print(s.head(3)) # Returns first 3 values

0    0
1    1
2    2
dtype: int64

In [25]:
import pandas as pd

s = pd.Series([i for i in range(50)])
print(s.head(n=-46)) # Returns the rows except last 46 rows. ie first 4 rows

0    0
1    1
2    2
3    3
dtype: int64

tail():
-------
Series.tail(n=5)
Return the last n rows. The default value is 5
This function returns last n rows from the object based on position. It
is useful for quickly verifying data, for example, after sorting or
appending rows.

In [26]:
import pandas as pd
s = pd.Series([i for i in range(50)])
#print(s.tail()) # Returns the last 5 rows
#print(s.tail(3)) # Returns the last 3 rows
print(s.tail(n=-3)) # Returns all rows except first 3 rows

3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

In [1]:
# Q. Returns values from 10th to 15th by using head() and tail() methods?
import pandas as pd
s = pd.Series([i for i in range(50)])
print(s.head(15).tail(6))

9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

Extract Values from Series by index position(Index Based Selection):
-------------------------------------------------------------------
Syntax: s[x]
- x can be index value
- x can be list of indices
- x can be slice also

eg:
---
- s[5] --->Returns value present at index 5
- s[[1,3,5]]---->Returns Series of values present at indices 1,3 and 5.
- s[2:6]--->Returns Series fo values from 2nd index to 5th index

In [2]:
# eg: Series contains all upper case alphabet symbols as values.
# 1st way:
# -------
import pandas as pd

alphabets=list('ABCDEFGHIJKLMNOPQRSTUVWXYZ') #['A','B',....]

s = pd.Series(data=alphabets)

print(s)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

In [3]:
import pandas as pd
from string import ascii_uppercase

alphabets = list(ascii_uppercase)
s = pd.Series(alphabets)

print(s)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

In [4]:
# Q1. To get First Character?
s[0]

'A'

In [5]:
# Q2. To get Last Character?
s[25]

'Z'

In [6]:
s[s.size-1]

'Z'

In [7]:
# Q3. To get Character present at 10th index position?
s[10]

'K'

In [8]:
# Q4. To get characters present at indices:5,10,15,20
s[[5,10,15,20]]

5     F
10    K
15    P
20    U
dtype: object

In [4]:
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets)
print(s[[5,10,15,20]])

5     F
10    K
15    P
20    U
dtype: object

In [10]:
# Q5. To get characters from 10th index to 16th index?
s[10:17]

10    K
11    L
12    M
13    N
14    O
15    P
16    Q
dtype: object

In [4]:
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets)
print(s[10:17])

10    K
11    L
12    M
13    N
14    O
15    P
16    Q
dtype: object

In [12]:
# Q6. To get every other character ie every alternative character?
s[::2]

0     A
2     C
4     E
6     G
8     I
10    K
12    M
14    O
16    Q
18    S
20    U
22    W
24    Y
dtype: object

In [14]:
# Q7. To get first 5 characters?
# s[0:5] or s[:5] or s.head() or s.head(5) or s.head(n=5)
s.head()

0    A
1    B
2    C
3    D
4    E
dtype: object

In [15]:
# Q8. To get last 3 characters?
# s[-3:] or s[s.size-3:] or s.tail(3) or s.tail(n=3)
s.tail(n=3)

23    X
24    Y
25    Z
dtype: object

Note: -ve indexing is applicable only for slice input.
- s[-1] ---->invalid
- s[[-1,-2,-3]]--->invalid
- s[-3:]--->valid

Note: Accessing based on position is applicable even for custom
labeled Series also

In [ ]:
# Extract Values from Series by labels(Label based Selection):
# ------------------------------------------------------------
# Syntax:
# s['label']
# s[['label-1','label-2','label-3']]
# s[label1:label2]

In [1]:
# sample code to append 'Label_' for every index:
# ----------------------------------------------
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
print(list(map(lambda x:'Label_'+x,alphabets)))
print(['Label_'+x for x in alphabets])

['Label_A', 'Label_B', 'Label_C', 'Label_D', 'Label_E', 'Label_F', 'Label_G', 'Label_H', 'Label_I', 'Label_J', 'Label_K', 'Label_L', 'Label_M', 'Label_N', 'Label_O', 'Label_P', 'Label_Q', 'Label_R', 'Label_S', 'Label_T', 'Label_U', 'Label_V', 'Label_W', 'Label_X', 'Label_Y', 'Label_Z']
['Label_A', 'Label_B', 'Label_C', 'Label_D', 'Label_E', 'Label_F', 'Label_G', 'Label_H', 'Label_I', 'Label_J', 'Label_K', 'Label_L', 'Label_M', 'Label_N', 'Label_O', 'Label_P', 'Label_Q', 'Label_R', 'Label_S', 'Label_T', 'Label_U', 'Label_V', 'Label_W', 'Label_X', 'Label_Y', 'Label_Z']

In [6]:
# pandas inbuilt add_prefix() and add_suffix() methods: video 4 or 5
# -----------------------------------------------------
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
#s = s.add_prefix('Label_')
s = s.add_suffix('_Label')
print(s)

A_Label    A
B_Label    B
C_Label    C
D_Label    D
E_Label    E
F_Label    F
G_Label    G
H_Label    H
I_Label    I
J_Label    J
K_Label    K
L_Label    L
M_Label    M
N_Label    N
O_Label    O
P_Label    P
Q_Label    Q
R_Label    R
S_Label    S
T_Label    T
U_Label    U
V_Label    V
W_Label    W
X_Label    X
Y_Label    Y
Z_Label    Z
dtype: object

In [7]:
s['W_Label']

'W'

In [8]:
# Questions:
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s)

Label_A    A
Label_B    B
Label_C    C
Label_D    D
Label_E    E
Label_F    F
Label_G    G
Label_H    H
Label_I    I
Label_J    J
Label_K    K
Label_L    L
Label_M    M
Label_N    N
Label_O    O
Label_P    P
Label_Q    Q
Label_R    R
Label_S    S
Label_T    T
Label_U    U
Label_V    V
Label_W    W
Label_X    X
Label_Y    Y
Label_Z    Z
dtype: object

In [10]:
# Q1. To get first character?
s[0]
# or
s['Label_A']

'A'

In [11]:
# Q2. To get 10th character?
# s[9] or s['Label_J']
print(s[9] ,s['Label_J'])

J J

In [12]:
# Q3. To get values associated with the labels:
# 'Label_K','Label_S','Label_X'
s[['Label_K','Label_S','Label_X']]

Label_K    K
Label_S    S
Label_X    X
dtype: object

In [13]:
# Q4. To get values from 'Label_H' to 'Label_S'?
s['Label_H':'Label_S']

Label_H    H
Label_I    I
Label_J    J
Label_K    K
Label_L    L
Label_M    M
Label_N    N
Label_O    O
Label_P    P
Label_Q    Q
Label_R    R
Label_S    S
dtype: object

In [14]:
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s['Label_H':'Label_S'])

Label_H    H
Label_I    I
Label_J    J
Label_K    K
Label_L    L
Label_M    M
Label_N    N
Label_O    O
Label_P    P
Label_Q    Q
Label_R    R
Label_S    S
dtype: object

Note:
1. In the index based slicing, end/stop attribute is not inclusive
s[2:5] here 5 is not inclusive and it returns values from 2nd index to
4th index
2. But in Label based slicing, end/stop attribute is inclusive.
s['Label_H':'Label_S']--->'Label_S' is inclusive

Using dot notation to access data by labels:
--------------------------------------------
Syntax:
s.label
Returns the value associated with specified label

eg:
print(s.Label_Z) #Z
Limitation: But this approach is not applicable for index and here we
cannot use slice operator.

eg:
- s.0 ---->invalid
- s.Label1:Label5 --->Invalid

In [15]:
print(s.Label_Z)

Z

Extracting values by using get() method:
----------------------------------------
In position based selection or label based selection if the specified
index or label is not available then we will get error.

In [17]:
import pandas as pd

alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')

s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')

print(s[100]) #IndexError: index 100 is out of bounds for axis 0 with size 26

print(s['Label_ZZ']) #KeyError: 'Label_ZZ'

IndexError: index 100 is out of bounds for axis 0 with size 26

To overcome this problem we should go for get() method. If the
specified index or label is not available then we will get None but not
Error.
Even in the case of get() method, we have the facility to provide
default value if the specified index or lable is not available.

Syntax:
s.get(0)
s.get([0,3,5])
s.get('Label-1')
s.get(['Label-1','Label-2','Label-3'])

In [18]:
# Eventhough index/label not available, we won't get any error.
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s.get(100)) #None
print(s.get('Label_ZZ')) #None

None
None

In [19]:
# eg: Here default value will be considered because specified key and label are not available
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s.get(100,default='default value')) #default value
print(s.get('Label_ZZ',default='default value')) #default value

default value
default value

In [20]:
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s.get(0)) #A
print(s.get([0,3,7]))
print(s.get('Label_D')) #D
print(s.get(['Label_D','Label_G','Label_M']))

A
Label_A    A
Label_D    D
Label_H    H
dtype: object
D
Label_D    D
Label_G    G
Label_M    M
dtype: object

Extracting values by using loc and iloc indexers:
-------------------------------------------------
loc indexer --->For Label based selection
iloc indexer--->For position based selection
iloc --->integer loc

iloc indexer:
-------------
For position based selection. The argument should be index.
Syntax:
s.iloc[i]
s.iloc[[0,1,2]]
s.iloc[m:n]

In [8]:
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Q1. To get first value?
s[0]
s.iloc[0]

10

In [5]:
# Q2. To get values at indies: 0,1,2
s.iloc[[0,1,2]]

0    10
1    20
2    30
dtype: int64

In [6]:
# Q3. To get first 3 values:
s.iloc[:3]

0    10
1    20
2    30
dtype: int64

In [11]:
# Q4. To get last value?
# s[-1] #--->invalid
s.iloc[-1] #--->valid

50

In [12]:
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s.iloc[0])
print(s.iloc[[0,1,2]])
print(s.iloc[:3])
print(s.iloc[-1])

10
0    10
1    20
2    30
dtype: int64
0    10
1    20
2    30
dtype: int64
50

loc indexer:
-----------
For label based selection

Syntax:
-------
s.loc[label]
s.loc[[label1,label2,label3]]
s.loc[labelm:labeln], here labeln is inclusive

In [13]:
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s)

Label_A    A
Label_B    B
Label_C    C
Label_D    D
Label_E    E
Label_F    F
Label_G    G
Label_H    H
Label_I    I
Label_J    J
Label_K    K
Label_L    L
Label_M    M
Label_N    N
Label_O    O
Label_P    P
Label_Q    Q
Label_R    R
Label_S    S
Label_T    T
Label_U    U
Label_V    V
Label_W    W
Label_X    X
Label_Y    Y
Label_Z    Z
dtype: object

In [14]:
# Q1. To get value associated with Label_A
s.loc['Label_A']

'A'

In [15]:
# Q2. To get values associated with labels: Label_A,Label_K and Label_Y
s.loc[['Label_A','Label_K','Label_Y']]

Label_A    A
Label_K    K
Label_Y    Y
dtype: object

In [17]:
# Q3. To get values from Label_H to Label_N?
s['Label_H':'Label_N']
# Here Label_N inclusive

Label_H    H
Label_I    I
Label_J    J
Label_K    K
Label_L    L
Label_M    M
Label_N    N
dtype: object

In [18]:
import pandas as pd
alphabets = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
s = pd.Series(data=alphabets,index=alphabets)
s = s.add_prefix('Label_')
print(s.loc['Label_A'])
print(s.loc[['Label_A','Label_K','Label_Y']])
print(s['Label_H':'Label_N'])

A
Label_A    A
Label_K    K
Label_Y    Y
dtype: object
Label_H    H
Label_I    I
Label_J    J
Label_K    K
Label_L    L
Label_M    M
Label_N    N
dtype: object

In [19]:
# Q4. To get alternative values from Label_H to Label_N?
s.loc['Label_H':'Label_N':2]

Label_H    H
Label_J    J
Label_L    L
Label_N    N
dtype: object

## Q. Assume s is the Series object, which of the following are valid syntactically?

1. s[0]
2. s['Label_A']
3. s.iloc[0]
4. s.iloc['Label_A']
5. s.loc[0]
6. s.loc['Label_A']

Ans: A,B,C,F

Note:
1. The main advantage of loc and iloc indexers when compared normal indexer is performance will be improved.
2. iloc and loc indexers are commonly used in dataframes.
3. In normal indexer we cannot pass negative index value. But in iloc indexer we can pass.
s[-10] ---->invalid
s.iloc[-10] --->valid
4. If we are depending on default indexes then there is no difference between loc and iloc indexers.

In [20]:
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s[0])
print(s.iloc[0])
print(s.loc[0])

10
10
10

Boolean masking For Condition Based Selection:
----------------------------------------------
Condition based selection.
We have to provide array of boolean values and selects values from Series where True value present.
It is applicable for normal indexer,loc and iloc indexers also.

Syntax:
---
- s[[True,False,...]]
- s.loc[[True,False,...]]
- s.iloc[[True,False,...]]
- s.get([True,False,...]

In [21]:
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s[[True,False,False,True,True]])
print(s.loc[[True,False,False,True,True]])
print(s.iloc[[True,False,False,True,True]])
print(s.get([True,False,False,True,True]))

0    10
3    40
4    50
dtype: int64
0    10
3    40
4    50
dtype: int64
0    10
3    40
4    50
dtype: int64
0    10
3    40
4    50
dtype: int64

***Note: The number of boolean values passed and the number of
values in Series must be matched, otherwise we will get error.***

In [22]:
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s[[True,False,False,True]])

IndexError: Boolean index has wrong length: 4 instead of 5

But in the case of get() method we won't get any error and just we will get None.

In [23]:
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s.get([True,False,False,True])) #None

None

Note: This approach is very helpful to get values based on some condition.

In [25]:
# eg-1: To select all values which are > 25.
import pandas as pd
s = pd.Series([10,20,30,40,50])
print(s[s>25])

2    30
3    40
4    50
dtype: int64

In [26]:
# eg-2:
import pandas as pd
s = pd.Series([i for i in range(20)])
print(s[s%3 == 0]) #To select values which are divisible by 3

0      0
3      3
6      6
9      9
12    12
15    15
18    18
dtype: int64

Usage of Callables in Selecting Elements:
-----------------------------------------
- We can use Callable object like function while selecting values from the Series.
- It should return anything,which should be valid argument for indexers and get method.

In [28]:
import pandas as pd
s = pd.Series([i for i in range(20)])

def odd_selection(s):
    return [True if i%2==1 else False for i in range(s.size)]

print(s[odd_selection])

1      1
3      3
5      5
7      7
9      9
11    11
13    13
15    15
17    17
19    19
dtype: int64

We can pass Callable object to normal indexer, loc and iloc indexers and for get() method also.

In [29]:
import pandas as pd
s = pd.Series([i for i in range(20)])
print(s[lambda s: [True if i%2==1 else False for i in range(s.size)]])
print(s.loc[lambda s: [True if i%2==1 else False for i in range(s.size)]])
print(s.iloc[lambda s: [True if i%2==1 else False for i in range(s.size)]])
print(s.get(lambda s: [True if i%2==1 else False for i in range(s.size)]))

1      1
3      3
5      5
7      7
9      9
11    11
13    13
15    15
17    17
19    19
dtype: int64
1      1
3      3
5      5
7      7
9      9
11    11
13    13
15    15
17    17
19    19
dtype: int64
1      1
3      3
5      5
7      7
9      9
11    11
13    13
15    15
17    17
19    19
dtype: int64
1      1
3      3
5      5
7      7
9      9
11    11
13    13
15    15
17    17
19    19
dtype: int64

In [30]:
# Q. To get every 3rd value:
s.get(lambda s: [True if i%3==0 else False for i in range(s.size)])

0      0
3      3
6      6
9      9
12    12
15    15
18    18
dtype: int64

In [32]:
import pandas as pd
s = pd.Series([i for i in range(20)])
print(s.get(lambda s: [True if i%3==0 else False for i in range(s.size)]))

0      0
3      3
6      6
9      9
12    12
15    15
18    18
dtype: int64

Q. Consider the Series:
Sunny 1000
Bunny 2000
Chinny 3000
Vinny 4500
Pinny 6000
dtype: int64
Select all values where salary is in between 2500 to 5000?

In [34]:
import pandas as pd
s = pd.Series(
data=[1000,2000,3000,4500,6000],
index=['Sunny','Bunny','Chinny','Vinny','Pinny']
)
#print(s[lambda s: [ True if sal>=2500 and sal<=5000 else False for salin s]])
print(s[lambda s: [ True if sal in range(2500,5001) else False for sal in s]])

Chinny    3000
Vinny     4500
dtype: int64

Summary: How to get values from Series object:
-----------------------------------------------
1. s.head(n)
2. s.tail(n)
3. s[index]
4. s[[index1,index2,index3]]
5. s[indexm:indexn] here indexn is not inclusive
6. s[label]
7. s[[label1,label2,label3]]
8. s[[labelm:labeln]] here labeln is inclusive
9. s.iloc[index]
10. s.iloc[[index1,index2,index3]]
11. s.iloc[indexm:indexn] here indexn is not inclusive
12. s.loc[label]
13. s.loc[[label1,label2,label3]]
14. s.loc[[labelm:labeln]] here labeln is inclusive
15. s.get(index)
16. s.get([index1,index2,index3])
17. s.get(label)
18. s.get([label1,label2,label3])

Even we can provide boolean mask values and callable objects as arguments.

The important attributes of Series object:
------------------------------------------
Attributes are nothing but properties which provides information
about the Series object.

The following are various important attributes of Series object.
### 1. s.values:
------------
Returns values present inside Series object. Mostly it returns ndarray

In [1]:
import pandas as pd
s = pd.Series(
data=['Sunny','Bunny','Chinny','Vinny','Pinny','Nikhil'],
index=[10,20,30,40,50,60]
)
print(s.values)

['Sunny' 'Bunny' 'Chinny' 'Vinny' 'Pinny' 'Nikhil']

### 2. s.index:
-----------
Rerurns the index (axis labels) of the Series.

In [2]:
import pandas as pd
s = pd.Series(
    data=['Sunny','Bunny','Chinny','Vinny','Pinny','Nikhil'],
    index=[10,20,30,40,50,60]
    )
print(s.index)

Index([10, 20, 30, 40, 50, 60], dtype='int64')

### 3. s.dtype:
-----------
Return the dtype object of the underlying data.

In [4]:
print(s.dtype)

object

4. s.size:
----------
Return the number of elements present in the Series object.

### 5. s.shape:
-----------
Return a tuple of the shape of the underlying data.
In the case of Series, it is single valued tuple, which represents the
number of elements present in the Series object.

In [5]:
print(s.shape)

(6,)

### 6. s.ndim:
---------
Returns number of dimensions of the underlying data, by definition 1.

In [6]:
print(s.ndim)

1

### 7. s.name:
---------
Return the name of the Series. Default name is None.

In [8]:
print(s.name)

None

### 8. s.is_unique:
---------------
Returns True if values in the object are unique.

In [9]:
import pandas as pd
s1 = pd.Series(['Sunny','Chinny','Vinny','Pinny','Nikhil'])
print(s1.is_unique) #True

True

In [10]:
s2 = pd.Series(['Sunny','Chinny','Vinny','Sunny','Pinny','Nikhil'])
print(s2.is_unique) #False

False

Note:
----
To get number of unique values, we can use nunique() method.
Bydefault it ignores(drops) NaN values. If we want to consider NaN
values also then we have to use dropna=False.
The default value for dropna is True.
Series.nunique(dropna=True)

In [5]:
import pandas as pd
import numpy as np

s1 = pd.Series(['Sunny','Chinny','Vinny','Pinny','Nikhil','Sunny','Chinny',np.NaN])

print(s1)

0     Sunny
1    Chinny
2     Vinny
3     Pinny
4    Nikhil
5     Sunny
6    Chinny
7       NaN
dtype: object

In [6]:
print('The Number of unique values with NaN ignore:',s1.nunique())

The Number of unique values with NaN ignore: 5

In [7]:
print('The Number of unique values without NaN ignore:',s1.nunique(dropna=False)) #6

The Number of unique values without NaN ignore: 6

### 9. s.is_monotonic, s.is_monotonic_increasing and s.is_monotonic_decreasing:
---------------------------------------------------------------------------
monotonic means whether values are in some order or not like ascending order or descending order etc. 
- s.is_monotonic #--->returns true if values in the object are monotonic_increasing.
- s.is_monotonic_increasing #--->Alias for is_monotonic.
- s.is_monotonic_decreasing #--->Return True if values in the object are monotonic_decreasing.

In [27]:
import pandas as pd
import numpy as np

s1 = pd.Series([10,20,30,40])
s2 = pd.Series([40,30,20,10])
s3 = pd.Series([10,20,40,30])

# print(s1.is_monotonic) #True  in new version we got error
# print(s2.is_monotonic) #False
# print(s3.is_monotonic) #False

print(s1.is_monotonic_increasing) #True
print(s2.is_monotonic_increasing) #False
print(s3.is_monotonic_increasing) #False

print(s1.is_monotonic_decreasing) #False
print(s2.is_monotonic_decreasing) #True
print(s3.is_monotonic_decreasing) #False

True
False
False
False
True
False

### Q. Which of the following attributes of Series object,are equal?

- A. s.is_monotonic
- B. s.is_monotonic_increasing
- C. s.is_monotonic_decreasing
- D. All of these

Ans: A and B

### 10. hasnans:
-------------
Returns True if Series contains NaN or None.
ie we can use this attribute to check whether some values are
absent/missing or not.

In [8]:
import pandas as pd

s1 = pd.Series([10,20,30,40])
s2 = pd.Series([40,30,20,10,pd.NA])
s3 = pd.Series([10,20,40,30,None])

print(s1.hasnans) #False
print(s2.hasnans) #True
print(s3.hasnans) #True

False
True
True

Summary:
--------
1. s.values
2. s.index
3. s.dtype
4. s.size
5. s.shape
6. s.ndim
7. s.name
8. s.is_unique / s.nunique()
9. s.is_monotonic/s.is_montonic_increasing/s.is_monotonic_decreasing
10. s.hashnans

##### Passing Series object to the Python's inbuilt functions:

----------------------------------------------------------------------------
We can pass pandas Series object to Python's inbuilt functions.

#### 1. len(s):

It returns the number of elements present in the Series object.

#### 2. type(s):

It returns the type of Series object. ie <class
'pandas.core.series.Series'>
    
#### 3. dir(s):
----------
It returns a list of all members(variables and methods) which are applicable for Series object.

#### 4. sorted(s):
-------------
It will sort the elements present in the Series object and returns List of those values.

#### 5. list(s):
-----------
To get Series object values in the form of List. It is Series to List conversion. List contains only values but not index labels.

#### 6. dict(s):
----------
To convert Series object to dictionary.
- dict keys -->Series Object index labels
- dict values --->Series Object values

#### 7. max(s):
----------
Returns the maximum value present in the Series object

#### 8. min(s):
----------
Returns the minimum value present in the Series object

In [15]:
import pandas as pd

s = pd.Series([10,40,30,20])
print(s)
print(len(s)) #4
print(type(s)) #<class 'pandas.core.series.Series'>
print(list(s)) #[10, 40, 30, 20]
print(dict(s)) #{0: 10, 1: 40, 2: 30, 3: 20}
print(max(s)) #40
print(min(s)) #10
print(sorted(s)) #[10, 20, 30, 40]

print(dir(s)) #['T', '_AXIS_LEN', '_AXIS_ORDERS',...]

0    10
1    40
2    30
3    20
dtype: int64
4
<class 'pandas.core.series.Series'>
[10, 40, 30, 20]
{0: 10, 1: 40, 2: 30, 3: 20}
40
10
[10, 20, 30, 40]
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']