<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# **Hands-on Practice Lab: Data Wrangling**

Estimated time needed: **30** minutes

In this lab, you will use the skills acquired in the module and address the issues of handling missing data, correct the data type of the dataframe attribute and execute the processes of data standardization and data normalization on specific attributes of the dataset.

# Objectives

After completing this lab you will be able to:

 - Handle missing data in different ways
 - Correct the data type of different data values as per requirement
 - Standardize and normalize the appropriate data attributes
 - Visualize the data as grouped bar graph using Binning
 - Cnverting a categorical data into numerical indicator variables

# Setup

For this lab, we will be using the following libraries:

* `skillsnetwork` to download the dataset
*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.
*   [`matplotlib`](https://matplotlib.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for additional plotting tools.

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Download the updated dataset by running the cell below.

The functions below will download the dataset into your browser:

In [3]:
import urllib.request

def download(url, filename):
    response =  urllib.request.urlopen(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(response.read())

In [4]:
file_path= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

To obtain the dataset, utilize the download() function as defined above:

In [116]:
download(file_path, "laptops.csv")
file_name="laptops.csv"

First we load data into a `pandas.DataFrame`:

In [117]:
df = pd.read_csv(file_name, header=0)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"
#df = pd.read_csv(filepath, header=None)

Verify loading by displaying the dataframe summary using `dataframe.info()`

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB
None

View the first 5 values of the updated dataframe using `dataframe.head()`

In [9]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

Note that we can update the `Screen_Size_cm` column such that all values are rounded to nearest 2 decimal places by using `numpy.round()`

In [10]:
df[['Screen_Size_cm']] = np.round(df[['Screen_Size_cm']],2)
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

# Task - 1

### Evaluate the dataset for missing data
Missing data was last converted from '?' to numpy.NaN. Pandas uses NaN and Null values interchangeably. This means, you can just identify the entries having Null values. Write a code that identifies which columns have missing data.

In [19]:
# Write your code below and press Shift+Enter to execute 
d = df.isnull()
d.sum()

Unnamed: 0        0
Manufacturer      0
Category          0
Screen            0
GPU               0
OS                0
CPU_core          0
Screen_Size_cm    4
CPU_frequency     0
RAM_GB            0
Storage_GB_SSD    0
Weight_kg         5
Price             0
dtype: int64

<details><summary>Click here for the solution</summary>

```python
missing_data = df.isnull()
print(missing_data.head())
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")  
```

</details>

# Task - 2

### Replace with mean
Missing values in attributes that have continuous data are best replaced using Mean value. We note that values in "Weight_kg" attribute are continuous in nature, and some values are missing. Therefore, write a code to replace the missing values of weight with the average value of the attribute.

In [30]:
# Write your code below and press Shift+Enter to execute

mean = df['Weight_kg'].mean(axis=0)
mean
df["Weight_kg"].replace(np.nan, mean, inplace = True)
df["Weight_kg"]

0      1.60
1      2.20
2      2.20
3      1.22
4      1.91
       ...
233    1.70
234    1.20
235    1.36
236    2.40
237    1.95
Name: Weight_kg, Length: 238, dtype: float64

<details>
    <summary>Click here for the solution</summary>
    
```python
# replacing missing data with mean
avg_weight=df['Weight_kg'].astype('float').mean(axis=0)
df["Weight_kg"].replace(np.nan, avg_weight, inplace=True)

# astype() function converts the values to the desired data type
# axis=0 indicates that the mean value is to calculated across all column elements in a row.
```

</details>

### Replace with the most frequent value
Missing values in attributes that have categorical data are best replaced using the most frequent value. We note that values in "Screen_Size_cm" attribute are categorical in nature, and some values are missing. Therefore, write a code to replace the missing values of Screen Size with the most frequent value of the attribute.

In [43]:
# Write your code below and press Shift+Enter to execute
df["Screen_Size_cm"].mode()

0    39.62
Name: Screen_Size_cm, dtype: float64

In [45]:
df["Screen_Size_cm"].value_counts()

Screen_Size_cm
39.62    93
35.56    64
38.10    23
33.78    20
33.02    18
43.94     7
43.18     5
31.75     4
30.48     4
Name: count, dtype: int64

In [41]:
df["Screen_Size_cm"].mode()
common_screen_size = df['Screen_Size_cm'].value_counts().idxmax()
df["Screen_Size_cm"].replace(np.nan, common_screen_size, inplace=True)
common_screen_size

39.62

<details>
    <summary>Click here for the solution</summary>
    
```python
# replacing missing data with mode
common_screen_size = df['Screen_Size_cm'].value_counts().idxmax()
df["Screen_Size_cm"].replace(np.nan, common_screen_size, inplace=True)
```
</details>

# Task - 3

### Fixing the data types
Both "Weight_kg" and "Screen_Size_cm" are seen to have the data type "Object", while both of them should be having a data type of "float". Write a code to fix the data type of these two columns.

In [66]:
# Write your code below and press Shift+Enter to execute
df[["Weight_kg","Screen_Size_cm"]]

AttributeError: 'DataFrame' object has no attribute 'dtype'

<details>
    <summary>Click here for Solution</summary>

```python
df[["Weight_kg","Screen_Size_cm"]] = df[["Weight_kg","Screen_Size_cm"]].astype("float")
```

</details>

# Task - 4

### Data Standardization
The value of Screen_size usually has a standard unit of inches. Similarly, weight of the laptop is needed to be in pounds. Use the below mentioned units of conversion and write a code to modify the columns of the dataframe accordingly. Update their names as well.

```{math}
1 inch = 2.54 cm
1 kg   = 2.205 pounds
```

In [78]:
# Write your code below and press Shift+Enter to execute
df["Screen_Size_cm"]/2.54

0      14.000000
1      15.598425
2      15.598425
3      13.299213
4      15.598425
         ...
233    14.000000
234    13.299213
235    12.000000
236    15.598425
237    14.000000
Name: Screen_Size_cm, Length: 238, dtype: float64

In [80]:
df["Weight_kg"]*2.205

0      3.52800
1      4.85100
2      4.85100
3      2.69010
4      4.21155
        ...
233    3.74850
234    2.64600
235    2.99880
236    5.29200
237    4.29975
Name: Weight_kg, Length: 238, dtype: float64

<details>
    <summary>Click here for Solution</summary>

```python
# Data standardization: convert weight from kg to pounds
df["Weight_kg"] = df["Weight_kg"]*2.205
df.rename(columns={'Weight_kg':'Weight_pounds'}, inplace=True)

# Data standardization: convert screen size from cm to inch
df["Screen_Size_cm"] = df["Screen_Size_cm"]/2.54
df.rename(columns={'Screen_Size_cm':'Screen_Size_inch'}, inplace=True)
```
</details>

### Data Normalization
Often it is required to normalize a continuous data attribute. Write a code to normalize the "CPU_frequency" attribute with respect to the maximum value available in the dataset.

In [86]:
# Write your code below and press Shift+Enter to execute
a = df["CPU_frequency"]/df["CPU_frequency"].max()
a

0      0.551724
1      0.689655
2      0.931034
3      0.551724
4      0.620690
         ...
233    0.896552
234    0.827586
235    0.896552
236    0.862069
237    0.793103
Name: CPU_frequency, Length: 238, dtype: float64

<details>
    <summary>Click here for Solution</summary>

```python
df['CPU_frequency'] = df['CPU_frequency']/df['CPU_frequency'].max()
```
</details>

# Task - 5

### Binning
Binning is a process of creating a categorical attribute which splits the values of a continuous data into a specified number of groups. In this case, write a code to create 3 bins for the attribute "Price". These bins would be named "Low", "Medium" and "High". The new attribute will be named "Price-binned".

In [110]:
# Write your code below and press Shift+Enter to execute

bins = np.linspace(df["Price"].min(),df["Price"].max(),4)
bins

array([ 527.        , 1621.33333333, 2715.66666667, 3810.        ])

<details>
    <summary>Click here for Solution</summary>

```python
bins = np.linspace(min(df["Price"]), max(df["Price"]), 4)
group_names = ['Low', 'Medium', 'High']
df['Price-binned'] = pd.cut(df['Price'], bins, labels=group_names, include_lowest=True )
```
</details>

Also, plot the bar graph of these bins.

In [ ]:
# Write your code below and press Shift+Enter to execute

<details>
    <summary>Click here for Solution</summary>

```python
plt.bar(group_names, df["Price-binned"].value_counts())
plt.xlabel("Price")
plt.ylabel("count")
plt.title("Price bins")
```
</details>

# Task - 6

### Indicator variables
Convert the "Screen" attribute of the dataset into 2 indicator variables, "Screen-IPS_panel" and "Screen-Full_HD". Then drop the "Screen" attribute from the dataset.

In [112]:
# Write your code below and press Shift+Enter to execute
dummy_variable_1 = pd.get_dummies(df["Screen"])
dummy_variable_1.rename(columns={'IPS Panel':'Screen-IPS_panel', 'Full HD':'Screen-Full_HD'}, inplace=True)
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "Screen" from "df"
df.drop("Screen", axis = 1, inplace=True)

In [115]:
df.head()

,Unnamed: 0,Manufacturer,Category,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price,Screen-Full_HD,Screen-IPS_panel
0,0,Acer,4,2,1,5,35.56,1.6,8,256,1.60,978,False,True
1,1,Dell,3,1,1,3,39.62,2.0,4,256,2.20,634,True,False
2,2,Dell,3,1,1,7,39.62,2.7,8,256,2.20,946,True,False
3,3,Dell,4,2,1,5,33.78,1.6,8,128,1.22,1244,False,True
4,4,HP,4,2,1,7,39.62,1.8,8,256,1.91,837,True,False

<details>
    <summary>Click here for Solution</summary>

```python
#Indicator Variable: Screen
dummy_variable_1 = pd.get_dummies(df["Screen"])
dummy_variable_1.rename(columns={'IPS Panel':'Screen-IPS_panel', 'Full HD':'Screen-Full_HD'}, inplace=True)
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "Screen" from "df"
df.drop("Screen", axis = 1, inplace=True)
```

</details>

This version of the dataset, now finalized, is the one you'll be using in all subsequent modules.

Print the content of dataframe.head() to verify the changes that were made to the dataset.

In [118]:
gb = df.groupby('Screen')
[gb.get_group(x) for x in gb.groups]

[     Unnamed: 0 Manufacturer  Category   Screen  GPU  OS  CPU_core  \
 1             1         Dell         3  Full HD    1   1         3
 2             2         Dell         3  Full HD    1   1         7
 4             4           HP         4  Full HD    2   1         7
 5             5         Dell         3  Full HD    1   1         5
 6             6           HP         3  Full HD    3   1         5
 ..          ...          ...       ...      ...  ...  ..       ...
 231         231         Dell         4  Full HD    2   1         7
 232         232      Toshiba         3  Full HD    2   1         5
 234         234      Toshiba         3  Full HD    2   1         5
 236         236       Lenovo         3  Full HD    3   1         5
 237         237      Toshiba         3  Full HD    2   1         5

      Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
 1            39.624            2.0       4             256       2.20    634
 2            39.624            2.7       8             256       2.20    946
 4            39.624            1.8       8             256       1.91    837
 5            39.624            1.6       8             256       2.20   1016
 6            39.624            1.6       8             256       2.10   1117
 ..              ...            ...     ...             ...        ...    ...
 231          35.560            2.8       8             256       1.36   2255
 232          33.782            2.3       8             256       1.20   1855
 234          33.782            2.4       8             256       1.20   1950
 236          39.624            2.5       6             256       2.40    883
 237          35.560            2.3       8             256       1.95   1499

 [161 rows x 13 columns],
      Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
 0             0         Acer         4  IPS Panel    2   1         5
 3             3         Dell         4  IPS Panel    2   1         5
 7             7         Acer         3  IPS Panel    2   1         5
 9             9         Acer         3  IPS Panel    3   1         7
 16           16         Dell         4  IPS Panel    1   1         7
 ..          ...          ...       ...        ...  ...  ..       ...
 224         224      Toshiba         3  IPS Panel    3   1         7
 225         225       Lenovo         4  IPS Panel    2   1         7
 227         227      Toshiba         3  IPS Panel    2   1         5
 233         233       Lenovo         4  IPS Panel    2   1         7
 235         235       Lenovo         4  IPS Panel    2   1         5

      Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
 0            35.560            1.6       8             256       1.60    978
 3            33.782            1.6       8             128       1.22   1244
 7            38.100            1.6       4             256       2.20    866
 9            38.100            1.8       8             256       2.20   1068
 16           33.020            1.8       8             256       1.40   1213
 ..              ...            ...     ...             ...        ...    ...
 224          38.100            2.6      16             256       2.40   2509
 225          30.480            2.7       8             256       1.36   2096
 227          35.560            2.3       4             128       1.47   1404
 233          35.560            2.6       8             256       1.70   1891
 235          30.480            2.6       8             256       1.36   2236

 [77 rows x 13 columns]]

In [ ]:
print(df.head())

# Congratulations! You have completed the lab

## Authors

[Abhishek Gagneja](https://www.coursera.org/instructor/~129186572)

[Vicky Kuo](https://author.skills.network/instructors/vicky_kuo)

Copyright © 2023 IBM Corporation. All rights reserved.

<!--## Change Log

<!--|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-15|0.1|Abhishek Gagneja|Initial Version Created|
|2023-09-19|0.2|Vicky Kuo|Reviewed and Revised| --!>