In [2]:
import pandas as pd
pd.__version__

'1.5.3'

Important data structures
- series
- DataFrames

Series
- It is one-dimentional labeled arrays

In [4]:
# creation of Series from the pyhton list
books_list = ['python','java','datascience']
s= pd.Series(books_list) # series is class
print(s)
# bydefault index (labels) are zero

0         python
1           java
2    datascience
dtype: object

In [6]:
# eg-2:
import pandas as pd
marks_list = [70,80,90]
s = pd.Series(marks_list)
print(s)

0    70
1    80
2    90
dtype: int64

In [7]:
import pandas as pd
salaries_list = [1000.5,2000.6,3000.7]
s = pd.Series(salaries_list)
print(s)

0    1000.5
1    2000.6
2    3000.7
dtype: float64

In [8]:
import pandas as pd
hetero_list = [10,'durga',10.5,True]
s = pd.Series(hetero_list)
print(s)

0       10
1    durga
2     10.5
3     True
dtype: object

***Note:*** The values in Series can be any type even heterogeneous also.

In [5]:
# Creation of series from python dict
books_dict = {0:"python",1:"java",2:"mava"}
d = pd.Series(books_dict)
print(d)

0    python
1      java
2      mava
dtype: object

In [9]:
# eg-2:
import pandas as pd
books_dict = {'Book-1':'Python','Book-2':'Java','Book-3':'DataScience'}
s = pd.Series(books_dict)
print(s)

Book-1         Python
Book-2           Java
Book-3    DataScience
dtype: object

In [12]:
import pandas as pd
books_dict = {'Book-1':'Python',10:20,10.5:20.6,'Book-3':'DataScience',10.5:20.3}
s = pd.Series(books_dict)
print(s)

Book-1         Python
10                 20
10.5             20.3
Book-3    DataScience
dtype: object

***Note:***
1. Index labels and values need not be homogeneneous.
2. Index labels need not be unique.

# Series class
class Series(base.IndexOpsMixin, generic.NDFrame):
"""
One-dimensional ndarray with axis labels (including time series).
Parameters
----------
data : array-like, Iterable, dict, or scalar value

In [14]:
# Constructing Series from a dictionary with an
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [16]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z'])
ser

x   NaN
y   NaN
z   NaN
dtype: float64

**Note**
that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence
we get all NaN as a result.

In [18]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['b', 'a', 'c'])
ser

b    2
a    1
c    3
dtype: int64

In [19]:
# Constructing Series from a list with `copy=False`.
r = [1, 2]
ser = pd.Series(r, copy=False)
ser.iloc[0] = 999
r
# Due to input data type the Series has a `copy` of
# 11the original data even though `copy=False`, so
# the data is unchanged.

[1, 2]